services:
  syncthing:
    image: syncthing/syncthing:${VERSION}
    container_name: "syncthing"

    hostname: ${HOSTNAME}

    restart: unless-stopped

    environment:
      PUID: 1000
      PGID: 1000

      STHOMEDIR: /config

    volumes:
      - ${CONFIG_DIR}:/config
      - ${SYNC_DIR}:/var/syncthing

    networks:
      - intranet

    ports:
      - ${FILE_TRANSFER_PORT}:22000/tcp # TCP file transfers
      - ${FILE_TRANSFER_PORT}:22000/udp # QUIC file transfers
      - ${DISCOVERY_PORT}:21027/udp # Receive local discovery broadcasts

networks:
  intranet:
    external: true
    name: ${INTERNAL_NETWORK_NAME}
