services:
   backup:
    image: offen/docker-volume-backup:v2
    container_name: "volume-backup"

    restart: unless-stopped

    environment:
      UID: 1000
      GID: 1000

      BACKUP_CRON_EXPRESSION: "@weekly"

      BACKUP_FILENAME: "backup-rose-%Y-%m-%dT%H-%M-%S.{{ .Extension }}"

      BACKUP_RETENTION_DAYS: "14"
      BACKUP_PRUNING_PREFIX: "backup-rose"

    volumes:
      - portainer:/backup/portainer:ro
      
      - miniflux:/backup/miniflux:ro

      - vaultwarden-db:/backup/vaultwarden/db:ro
      - vaultwarden-data:/backup/vaultwarden/data:ro

      - /var/lib/radicale:/backup/radicale:ro

      - /var/run/docker.sock:/var/run/docker.sock:ro

      - /var/lib/syncthing/backups:/archive

volumes:
  portainer:
    external: true
    name: portainer_data

  miniflux:
    external: true
    name: miniflux-db-backups

  vaultwarden-data:
    external: true
    name: vaultwarden-data

  vaultwarden-db:
    external: true
    name: vaultwarden-db-backups