services:
  app:
    image: guusvanmeerveld/portfolio
    container_name: "portfolio"

    restart: unless-stopped

    networks:
      - internet
      - portfolio

    volumes:
      - ${DATA_DIR}:/app/data

    ports:
      - 3000:3000

    environment:
      DATA_DIR: "/app/data"

      SESSION_PASSWORD: ${SESSION_PASSWORD}
      ADMIN_EMAIL: "mail@guusvanmeerveld.dev"

      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}"

  db:
    image: postgres:14
    container_name: "portfolio-db"

    restart: unless-stopped

    volumes:
      - ${DB_DIR}:/var/lib/postgresql/data

    networks:
      - portfolio

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

networks:
  portfolio:

  internet:
    external: true
    name: ${DEFAULT_NETWORK_NAME}
