{
	admin off
}

webdav.guusvanmeerveld.dev {
	reverse_proxy radicale:5232
}

bitwarden.guusvanmeerveld.dev {
	reverse_proxy vaultwarden:80
}

miniflux.guusvanmeerveld.dev {
	reverse_proxy miniflux:8080
}

mail.guusvanmeerveld.dev {
	
}