services:
  caddy:
    image: caddy:2-alpine
    container_name: "caddy"

    restart: unless-stopped

    environment:
      UID: 1000
      GID: 1000

    networks:
      - internet
      - intranet

    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

    ports:
      - ${HTTP_PORT}:80
      - ${HTTPS_PORT}:443

    volumes:
      - ${CADDY_FILE}:/etc/caddy/Caddyfile:ro
      - ${CERTS_DIR}:/data/caddy/certificates
      - ${SITE_DIR}:/srv
      - ${DATA_DIR}:/data
      - ${CONFIG_DIR}:/config

networks:
  internet:
    name: ${EXTERNAL_NETWORK_NAME}
    external: true

  intranet:
    name: ${INTERNAL_NETWORK_NAME}
    external: true
