{
	admin off
}

http://adguard.rose {
	reverse_proxy intranet-adguard:80
}

http://syncthing.rose {
	reverse_proxy syncthing:8384
}

http://miniflux.rose {
	reverse_proxy miniflux:8080
}

http://dozzle.rose {
	reverse_proxy dozzle:8080
}

http://dashdot.rose {
	reverse_proxy dashdot:3001
}

http://uptime.rose {
	reverse_proxy uptime-kuma:3001
}