services:
  ntfy:
    image: binwiederhier/ntfy:${VERSION}
    container_name: "ntfy"

    restart: unless-stopped

    command:
      - serve

    networks:
      - internet

    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1",
        ]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 40s

    environment:
      NTFY_BASE_URL: ${BASE_URL}
      NTFY_BEHIND_PROXY: true
      NTFY_CACHE_FILE: /var/lib/ntfy/cache.db
      NTFY_AUTH_FILE: /var/lib/ntfy/user.db
      NTFY_MANAGER_INTERVAL: 1h
      NTFY_AUTH_DEFAULT_ACCESS: write-only
      NTFY_CACHE_DURATION: 1000h
      NTFY_WEB_ROOT: disable

    volumes:
      - ${DATA_DIR}:/var/lib/ntfy

networks:
  internet:
    external: true
    name: ${EXTERNAL_NETWORK_NAME}
