name: Rebuild custom packages

on:
  push:
    paths:
      - "pkgs/**"
      - "flake.lock"

  pull_request:
    paths:
      - "pkgs/**"
      - "flake.lock"

  workflow_dispatch:

jobs:
  nix-build:
    name: Rebuild packages for (${{ matrix.system }})

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [x64, arm64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30

      - uses: cachix/cachix-action@v14
        with:
          name: guusvanmeerveld
          # If you chose API tokens for write access OR if you have a private cache
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build packages
        run: nix run nix-fast-build --eval-max-memory-size 2048 --skip-cached --cachix-cache guusvanmeerveld --no-nom --flake .#packages
