name: Rebuild custom packages

on:
  push:
    paths:
      - "pkgs/**"
      - "flake.lock"

  workflow_dispatch:

jobs:
  nix-build:
    name: Rebuild packages for "${{ matrix.os }}"

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [x64, arm64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Build packages
        run: nix run github:Mic92/nix-fast-build -- --eval-max-memory-size 2048 --skip-cached --cachix-cache guusvanmeerveld --no-nom --flake .#packages
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
