name: Update flake lock file

on:
  schedule:
    - cron: "0 4 * * 6"
  workflow_dispatch:

jobs:
  update:
    name: Update flake inputs
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Setup Git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Update flake lock file
        run: nix flake update --commit-lock-file

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          branch: bot/update
          delete-branch: true
          title: Update flake inputs
          token: ${{ secrets.PERSONAL_TOKEN }}
